<form id="loginForm" method="POST" action="/login">
    <fieldset>
        <legend>Login</legend>
        <label>Username</label>
        <input type="text" name="username" id="uname">
        <label>Password</label>
        <input type="password" name="password" id="pname">
        <button type="submit">Login</button>
    </fieldset>
</form>