<form id="signupForm" method="POST" action="/signup">
    <fieldset>
        <legend>Signup</legend>
        <label>Username</label>
        <input type="text" name="username" id="uname">
        <label>Name</label>
        <input type="text" name="name" id="uname">
        <label>email</label>
        <input type="text" name="email" id="uname">
        <label>Password</label>
        <input type="password" name="password" id="pname">
        <button type="submit">Login</button>
    </fieldset>
</form>